# can be installed with pip
opencv-python
degirum PySDK
numpy
adafruit-motorkit


# install manually
# sort -> https://github.com/abewley/sort
# pyrealsense2 -> https://github.com/realsenseai/librealsense